<div class="hero">
  <h1 class="hero__header">Heros</h1>
  <hr />
  <div class="hero__containerInput">
    <mat-form-field>
      <mat-label>Filtrar por id</mat-label>
      <input
        matInput
        placeholder="Id"
        value="0"
        [(ngModel)]="id"
        (input)="getHeroById(this.id)"
        name="id"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filtrar por nombre</mat-label>

      <input
        class="hero__input--name"
        matInput
        placeholder="Batman"
        [(ngModel)]="searchName"
        (ngModelChange)="onNameChange($event)"
        name="searchName"
      />
    </mat-form-field>
  </div>
  <button class="hero__buttonAdd" mat-raised-button (click)="openDialogAdd()">
    Agregar heroe
  </button>
  <mat-grid-list
    cols="3"
    rowHeight="100px"
    class="hero__list hero__list--header"
  >
    <mat-grid-tile>Heroe</mat-grid-tile>
    <mat-grid-tile>Estudio</mat-grid-tile>
    <mat-grid-tile>Acciones</mat-grid-tile>
  </mat-grid-list>
  @if (heroesById) {
  <mat-grid-list cols="3" rowHeight="100px" class="hero__list">
    <mat-grid-tile>{{ heroesById.name }}</mat-grid-tile>
    <mat-grid-tile>{{ heroesById.studio }}</mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="openDialogEdit(heroesById)">
        Editar
      </button>
      <button mat-raised-button (click)="deleteHero(heroesById.id)">
        Eliminar
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  }@else if(heroesByName) { @for (hero of searchResultName; track hero.id) {
  <mat-grid-list cols="3" rowHeight="100px" class="hero__list">
    <mat-grid-tile>{{ hero.name }}</mat-grid-tile>
    <mat-grid-tile>{{ hero.studio }}</mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="openDialogEdit(hero)">Editar</button>
      <button mat-raised-button (click)="deleteHero(hero.id)">Eliminar</button>
    </mat-grid-tile>
  </mat-grid-list>
  } }@else {
  <mat-grid-list cols="3" rowHeight="100px" class="hero__list hero__list--ul">
    @for (hero of heroes() | paginate: { itemsPerPage: 5, currentPage: page };
    let indice=$index; track heroes(); ) {
    <mat-grid-tile>{{ hero.name }}</mat-grid-tile>
    <mat-grid-tile>{{ hero.studio }}</mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="openDialogEdit(hero)">Editar</button>
      <button
        mat-raised-button
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="idDelete(hero.id)"
      >
        Eliminar
      </button>
    </mat-grid-tile>
    }
  </mat-grid-list>
  }
  <pagination-controls
    class="hero__pagination"
    (pageChange)="page = $event"
    previousLabel="anterior"
    nextLabel="posterior"
  ></pagination-controls>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Estas seguro de eliminar el heroe?
        </h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          class="delete-button"
          (click)="deleteHero(id)"
        >
          Si
        </button>
      </div>
    </div>
  </div>
</div>
